<h1>Hello, {{name}}</h1>
<form action="/logout?_method=DELETE" method="POST">
     <button type="submit">Log Out</button>
</form>

<!-- Displaying the data -->
<div id ='display'>
  <button id='addBtn'>Add Transaction</button>
  <div id="displayHeader">
    <form id="filterForm">
      <input type="search" id="searchBar" placeholder="Search"/>
      <label for="from_date">From:  </label>
      <input type="date" name="from_date" id="from_date"/>
      <label for="from_date">To:  </label>
      <input type='date' name="to_date" id="to_date"/>
      <button type="submit" id="filterBtn">Apply Filter</button>
    </form>
  </div>
  <table id='tTable'>
        <tr id='tHeader'>
            <th>Date</th>
            <th>Branch</th>
            <th>Name of Customer</th>
            <th>C-Series</th>
            <th>OS</th>
            <th>C-Invoice</th>
            <th>Seller</th>
            <th>Assembler</th>
            <th>Total</th>
            <th>VAT Sale</th>
            <th>VAT Amount</th> 
            <th></th>
        </tr>
        {{#each transactions}}
        <tr class="rowData" data-id="{{_id}}"></tr>
        <tr class="rowData">
            <td>{{date}}</td>
            <td>{{branch}}</td>
            <td>{{name}}</td>
            <td>{{series}}</td>
            <td>{{os}}</td>
            <td>{{invoice}}</td>
            <td>{{seller}}</td>
            <td>{{assembler}}</td>
            <td>{{total}}</td>
            <td>{{vatsale}}</td>
            <td>{{vatamount}}</td> 
            <td class="removeButtonCell"><button class="removeRowBtn">X</button></td>
        </tr>
        {{/each}}
  </table>
  <button id='downloadBtn'>Download Spreadsheet</button>
</div>

<!-- For the overlay when a function is clicked -->
<div id="overlay"></div>

<!-- Form shows up when add Button is clicked -->
<div id='container'>
  <h2>Data Entry Form</h2>
  <form id='addForm'>
    <fieldset>
      <label for='addDate'>Date: </label>
      <input type='date' id="addDate" name='addDate' onchange="console.log(this.value);" required/>
      <label for='addBranch'>Branch: </label>
      <input type='text' id="addBranch" name='addBranch' required/>
      <label for='addName'>Customer Name: </label>
      <input type='text' id="addName"name='addName' required/>
    </fieldset>
    <fieldset>
      <label for='addSeries'>C-Series: </label>
      <input type='number' id="addSeries" name='addSeries' required/>
      <label for='addOS'>OS: </label>
      <input type='number' id="addOS" name='addOS' required/>
      <label for='addInvoice'>C-Invoice: </label>
      <input type='number' id="addInvoice" name='addInvoice' required/>
    </fieldset>
    <fieldset>
      <label for='addSeller'>Seller: </label>
      <input type='text' id="addSeller" name='addSeller' required/>
      <label for='addAssembler'>Assembler: </label>
      <input type='text' id="addAssembler" name='addAssembler' required/>
    </fieldset>
    <fieldset>
      <label for='addTotal'>Total: </label>
      <input type='number' id="addTotal" name='addTotal' step="0.01" required/>
      <label for='addVatsale'>VAT Sale: </label>
      <input type='number' id="addVatsale" name='addVatsale' step="0.01" required/>
      <label for='addVatamount'>VAT Amount: </label>
      <input type='number' id="addVatamount" name='addVatamount' step="0.01" required/>
    </fieldset>
    <button type='submit' id='submitBtn' value='submit'>Submit</button>
    <button type='reset' id='cancelBtn' value='reset'>Cancel</button>
  </form>
</div>
